<!DOCTYPE html>
<html lang='en'>
	<head>
		<link rel='stylesheet' href='/css/styles.css' />
		<link rel="icon" href="/images/weather.png">
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>About</title>
	</head>
	<body>
		<div class="main-content">
			
		{{>header}}
		<p>This site was created by tuligma. It uses from maptiler.com and openweathermap.org!</p>
		<img class="portrait" src='/images/profilepic.jpg' alt='' />
		</div>
		{{>footer}}
	</body>
</html>